<% if current_user %>
  <p>Welcome <%= current_user.name %></p>
<% end %>
<h1>Welcome to Code Q&amp;A</h1>

<div class="col-md-6">
  <h4>Questions</h4>
  <% if current_user %>
    <%= link_to 'Add Question', new_user_question_path(current_user) %>
  <% end %>
  <% @questions.each do |question| %>
    <div class="home-question">

      <%= question.title %>
      <% if current_user && question.user_id != current_user.id %>
        <%= link_to '+ Answer', user_question_path(current_user, question) %>
      <% end %>
    </div>
  <% end %>
</div>
