#content {
  margin-top: 65px;
}
.a-author {
  color: DarkGray;
}
.vote {
  width: 14px;
  float: left;
  text-align: center;
  margin: 0 10px 0 0;
  line-height: 14px;
  font-size: 14px;
}

.glyphicon-chevron-up {
  color: green;
}

.glyphicon-chevron-down {
  color: red;
}

.glyphicon-heart, .glyphicon-chevron-up, .glyphicon-chevron-down {
  cursor:pointer;
}

.clear {clear:both;}

#best-answer .glyphicon-heart {color: red}
