#content {
  margin-top: 65px;
}
.a-author {
  color: DarkGray;
}
.vote {
  width: 14px;
  float: left;
  text-align: center;
  margin: 0 10px 0 0;
  line-height: 14px;
  font-size: 14px;
}

.vote .glyphicon {

}

.clear {clear:both;}
